.container-artwork {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artwork-photo {
 width: 600px;
 height: 400px;
}

.buy-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
