<div class="form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for(@purchase) do |f| %>
      <%= f.submit "Do you want to confirm this purchase" %>
      <% end %>
    </div>
  </div>
</div>
