<div class="banner" style="background-image: url(<%= image_url 'mourin.jpg'%>);">
  <div class="banner-content">
    <h1>Thank you for your purchase!</h1>
    <!-- <a class="btn btn-primary btn-lg">GET IT</a> -->
    <%= link_to "Checkout other artworks", artworks_path, class: "white-button btn" %>
  </div>
</div>

