.white-button {
  margin-top: 50px;
  margin-left: 20px;
  padding: 0 20px;
  border-radius: 10em;
  line-height: 40px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid white;
}

.white-button:hover {
  border: 2px solid #c9c9c9;
  color: #c9c9c9;
}

.black-button {
  margin-top: 50px;
  margin-left: 20px;
  padding: 0 20px;
  border-radius: 10em;
  line-height: 40px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid black;
}

.black-button:hover {
  border: 2px solid #c9c9c9;
  color: #c9c9c9;
}
