<div class="footer">
  <div class="social-buttons">
    <ul class="social-button">
    <li><%= link_to '<i class="fa fa-facebook"></i>'.html_safe, root_path %></li>
    <li><%= link_to '<i class="fa fa-twitter"></i>'.html_safe, root_path %></li>
    <li><%= link_to '<i class="fa fa-instagram"></i>'.html_safe, root_path %></li>
    <li><%= link_to '<i class="fa fa-pinterest"></i>'.html_safe, root_path %></li>
  </ul>
  </div>
</div>



